<h1>Welcome, <%= @user.username %></h1>


<%= link_to "My Bottles", user_bottles_path(current_user) %>


<h2>Plenty of bottles awaiting to be reviewed and commented on.</h2>

Do not forget to join a mailing list to know whenever new wines are in stock.


